body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9c9c9;
    color: #333;
}

.header {
    background-color: #008080;
    color: #000000;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #8b8b8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}   

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}